.sort-by {
  width: 110px;
  font-size: 15px;
}

.sort-by .ant-select-selector {
  color: black;
}

.ant-select-selection-placeholder {
  color: black;
}
.ant-select-arrow {
  color: black;
  top: 40%;
}

.ant-select-clear {
  color: black;
  top: 40%;
}
