.sort-by {
  width: 110px;
  font-size: 15px;



  .ant-select-selector{
    .ant-select-selection-placeholder{
      color: black !important;
    }
  
    
  }
  .ant-select-arrow {
    top: 40% !important;
    color: black !important;
  }
  .ant-select-clear {
    top: 30%;
    right:1rem;
    color: black !important;
  }

}


